.app {
  width: 950px;
  background-color: silver;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  gap: 10px;
  margin: 15px;
  box-sizing: border-box;
  justify-content: space-between;
}